const config = {
	pathToZ3: "<Path to the Z3 executable.>",
	serverPort: 4000,
	debuggerPort: 9339,
	storagePath: "<Path to project storage.>",
	defaultsPath: "<Path to default files.>"
};

export default config;